@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", system-ui;
}
html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px;
}

/* Montserrat font application */
.font-montserrat,
.font-montserrat * {
  font-family: "Montserrat", sans-serif !important;
}

body.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

body.font-montserrat * {
  font-family: inherit;
}

.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  transition: all 0.3s;
}
.page-enter-from,
.page-leave-to,
.layout-enter-from,
.layout-leave-to {
  opacity: 0;
}
